body {
  margin: 0;
  margin-top: 0;
}

#header{
  text-align: center;
  background-color: #FFFFFF;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

h1{
  margin: 15px;
  text-align: center;
  font: 25px "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#footer{
  background-color: #303030;
  padding: 5px;
  text-indent: 40px;
  color: #888888;
}



#content{
  background-color: #ad1c28;
  text-align: center;
  margin-top: 83px;
}

h2 {
  color: white;
  font: 20px "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  font: 15px "Lato", sans-serif;
}

.congrats{
  background-image: url(./Images/beans.avif);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.history{
  background-image: url(./Images/Triangle.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.money{
  background-image: url(./Images/Money.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.congrats div, .history div, .money div{
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  letter-spacing: 1px;
  padding: 10px;
}

.middle {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.congrats, .history, .money {
  position: relative;
  border-style: solid none solid none;
  border-width: 2px;
  border-color: #000000;
}

.congrats:before, .history:before, .money:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ad1c28), color-stop(25%, rgba(255, 255, 255, 0)), color-stop(75%, rgba(255, 255, 255, 0)), color-stop(100%, #ad1c28));
  /* Chrome,Safari4+ */
}