body {
  margin: 0;
  margin-top: 0;
}

#header{
  background-color: #FFFFFF;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
}

h1{
  margin: 15px;
  text-align: center;
  font: 25px "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#footer{
  background-color: #303030;
  padding: 5px;
}

#content{
  margin-top: 78.6px;
}

h2 {
  text-indent: 100px;
  font: 20px "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  font: 15px "Lato", sans-serif;
}

.window{
  background-image: url(images/window.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drive{
  background-image: url(images/drive.jfif);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.roof{
  background-image: url(images/roof.jfif);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.window div, .drive div, .roof div{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
